<!DOCTYPE html>
<html>
<head>
    <title>Editar Cliente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Editar Cliente</h1>
    <form action="/editar/{{ cliente.id}}" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ cliente.nombre }}" required><br><br>
        <label for="saldo">Saldo:</label>
        <input type="number" id="saldo" name="saldo" value="{{ cliente.saldo }}" required><br><br>
        <label for="porcentaje">Porcentaje:</label>
        <input type="number" id="porcentaje" name="porcentaje" value="{{ cliente.porcentaje }}" required><br><br>
        <input type="submit" value="Guardar cambios">
    </form>
    <a href="/">Volver a Clientes</a>
</body>
</html>
